body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgreen !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-navbar {
  background-color:gray; 
  color: #fff; 
}
.cart-container {
  display: flex;
  align-items: center; 
  margin-left: auto;  
}
.custom-brand {
  color: #fff; 
  margin-right: auto !important;
  

}

.custom-link {
  color: #fff; 
  margin-left: auto !important;
 
}
.brand-image {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
}